USE WilliamPagerSA

ALTER TABLE [dbo].[sma_TRN_MassMailing] DROP CONSTRAINT [FK_sma_TRN_MassMailing_sma_MST_Templates]
GO

DROP TABLE [sma_MST_Templates]
GO
/****** Object:  Table [dbo].[sma_MST_Templates]    Script Date: 6/7/2020 4:49:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sma_MST_Templates] (
	[tmlnTemplateId] [INT] IDENTITY (1, 1) NOT NULL
   ,[tmlsTemplateName] [VARCHAR](250) NULL
   ,[tmlsTemplateData] [TEXT] NULL
   ,[tmlnCategoryID] [INT] NULL
   ,[tmlnSubCategoryID] [INT] NULL
   ,[tmldDtCreated] [DATETIME] NULL
   ,[tmlnRecUserId] [INT] NULL
   ,[tmldDtModified] [DATETIME] NULL
   ,[tmlnModifyUserId] [INT] NULL
   ,[tmlnLevelNo] [INT] NULL
   ,[tmpsmrgCodeID] [NVARCHAR](4000) NULL
   ,[tmlnnCategoryID] [INT] NULL
   ,[tmlnnSubCategoryID] [INT] NULL
   ,[tmlnSubSubCategoryID] [INT] NULL
   ,[tmlnSubSubSubCategoryID] [INT] NULL
   ,[tmlnIsMassMailing] [BIT] NULL
   ,[tmlnTemplateCaseGroup] [INT] NULL
   ,[tmlnEnvelopeTemplateID] [INT] NULL
   ,[tmlnIsArchived] [BIT] NULL
   ,[tmlnTemplateGroupID] [INT] NULL
   ,[tmlnTemplateTypeID] [INT] NULL
   ,[tmlnAssociatedTime] [INT] NULL
   ,[tmlnActivityCode] [INT] NULL
   ,[tmlnTimeTracking] [INT] NULL
   ,CONSTRAINT [PK_sma_MST_Templates] PRIMARY KEY CLUSTERED
	(
	[tmlnTemplateId] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sma_MST_Templates] ON

GO
SET IDENTITY_INSERT [dbo].[sma_MST_Templates] OFF
ALTER TABLE [dbo].[sma_TRN_MassMailing] WITH CHECK ADD CONSTRAINT [FK_sma_TRN_MassMailing_sma_MST_Templates] FOREIGN KEY ([masmailTemplateID])
REFERENCES [dbo].[sma_MST_Templates] ([tmlnTemplateId])
GO

ALTER TABLE [dbo].[sma_TRN_MassMailing] CHECK CONSTRAINT [FK_sma_TRN_MassMailing_sma_MST_Templates]
GO

